.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
     animation-direction: normal;
    animation-direction: alternate; */

    /* animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    /* animation-direction: normal; 
    animation-direction: alternate; */

    animation: widthAnimation 4s ease-in 0s infinite normal;

}

@media (min-width: 400px) {
    h1 {
        background-color: red;
        color: white;
    }

    div {
        height: 100px;
        width: 100px;
        background-color: blue;
    }
}

@keyframes widthAnimation {
    0% {
        width: 10px;
        font-size: 20px;
        background-color: greenyellow;
    }

    50% {
        background-color: yellow;
    }

    80%{
        background-color: red;
    }

    100% {
        width: 400px;
        font-size: 40px;
        background-color: green;
        border-radius: 15px;
    }
}

/* @keyframes widthAnimation {
    from {
        width: 10px;
        font-size: 20px;
        background-color: greenyellow;
    }

    to {
        width: 400px;
        font-size: 40px;
        background-color: green;
        border-radius: 15px;
    }
} */

@keyframes fontAnimation {
    from {
        font-size: 20px;
    }

    to {
        font-size: 40px;
    }
}

@keyframes colorAnimation {
    from {
        background-color: greenyellow;
    }

    to {
        background-color: green;
    }
}