* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #1b74e4;
}

/* #login,
#register {
    background-color: aqua;
} */

.userbtn {
    background-color: aqua;
}

#searchbtn {
    background-color: black;
    color: white;
}